@import './break-points';

@import './cmps/product-preview';
@import './cmps/product-list';
@import './cmps/product-filter';
@import './cmps/product-edit';
@import './pages/products';

* {
  box-sizing: border-box;
}

body {
  background-color: #1e1e1e;
}

button {
  cursor: pointer;
}
