.product-preview {
  display: flex;
  flex-direction: column;
  gap: 15px;
  background-color: #5e5e5e;
  border: 4px solid rgba(255, 217, 0, 0.545);
  border-radius: 10px;
  width: 240px;
  padding: 8px 0;
  text-align: center;

  .product-preview-details {
    padding-inline-start: 40px;
    padding-inline-end: 40px;
  }
  .product-preview-edit {
    display: flex;
    justify-content: space-between;
    align-items: center;
    
    span {
      background-color: #7e7e7e;
      border-radius: 5px;
    }

    img {
      height: 30px;
      width: 30px;
      cursor: pointer;
    }

    button {
      border: none;
      border-radius: 5px;
    }
  }

  h2, h3 {
    font-size: 1.1rem;
    padding-inline-start: 40px;
    padding-inline-end: 40px;
    margin: 0;
  }

  h3 {
   font-size: 1.2rem;
  }

  img {
    align-self: center;
    width: 160px;
    height: 120px;
  }
}
